<ul class="left-menu nav nav-tabs vtp-reponsive-left-menu">
  <div class="sidebar-header">
    <a class="cus-logo vtp-left-menu-logo-main" [routerLink]="['']">
      <img class="vtp-logo-desktop" src="assets/img/logo_black.png" alt="">
      <img class="vtp-logo-desktop" src="assets/img/logo_black.png" alt="">
      <img class="vtp-logo-desktop" src="assets/img/logo_black.png" alt="">
    </a>
    <a class="vtp-left-menu-logo-icon" [routerLink]="['']">
      <img class="vtp-logo-tablet" src="assets/img/logo-icon.jpg" alt="">
    </a>
  </div>
  <li class="nav-item vtp-lm-dashboard vtp-check-menu vtp-header-li-main">
    <a class="nav-link vtp-header-nav-link-main" id="dashboard" aria-expanded="true"
      (click)="goToMenu('')">
      <img class="menu-icon-pie-chart">
      <span>{{'home' | translate}}</span>
    </a>
  </li>
  <li class="nav-item vtp-lm-dashboard vtp-check-menu vtp-header-li-main">
    <a class="nav-link vtp-header-nav-link-main" id="dashboard" aria-expanded="true"
      (click)="goToMenu('/import-supplier')">
      <img class="menu-icon-pie-chart">
      <span>Quản lý NCC</span>
    </a>
  </li>
  <li class="nav-item vtp-lm-dashboard vtp-check-menu vtp-header-li-main">
    <a class="nav-link vtp-header-nav-link-main" id="dashboard" aria-expanded="true"
      (click)="goToMenu('/category')">
      <img class="menu-icon-pie-chart">
      <span>Danh mục</span>
    </a>
  </li>
  <li class="nav-item vtp-lm-create-order vtp-header-li-main">
    <a href="#taoDon" data-bs-toggle="collapse" aria-expanded="true" class="dropdown-toggle vtp-header-nav-link-main">
      <img class="menu-icon-package">
      <span>{{'supplier.manage' | translate}}</span>
    </a>
    <ul class="collapse " id="taoDon">
      <li class="nav-item vtp-check-menu" >
        <a class="nav-link" id="tao-don-le"
           (click)="goToMenu('order/tao-don-le')">
          <span>TIKTOK</span>
        </a>
      </li>
      <li class="nav-item vtp-check-menu">
        <a class="nav-link" id="tao-don-hang-voucher"
          (click)="goToMenu('/order/tao-don-hang-voucher')">
          <span>SHOPEE</span>
        </a>
      </li>
      <li class="nav-item vtp-check-menu">
        <a class="nav-link" id="tao-don-excel"
          (click)="goToMenu('/excel/import-excel')">
          <span>SEN ĐỎ</span>
        </a>
      </li>
      <li class="nav-item vtp-check-menu">
        <a class="nav-link" id="tao-don-excel-online" (click)="goToMenu('/excel/excel-online')">
          <span>LAZADA</span>
        </a>
      </li>
    </ul>
  </li>
  <li class="nav-item vtp-lm-order-management vtp-header-li-main">
    <a class="nav-link" href="#quanly" data-bs-toggle="collapse" aria-expanded="true" class="dropdown-toggle vtp-header-nav-link-main">
      <img class="menu-icon-server">
      <span>{{'category.manage' | translate}}</span>
    </a>
    <ul class="collapse " id="quanly">
      <li class="nav-item vtp-check-menu">
        <a class="nav-link" id="bill-of-lading" routerLink="/quan-ly-van-don" >
          <span>Thiết bị điện tử</span>
        </a>
      </li>
      <li class="nav-item vtp-check-menu">
        <a class="nav-link" id="thong-ke-tien-hang" routerLink="/thong-ke-tien-hang" >
          <span>Quần áo</span>
        </a>
      </li>
      <li class="nav-item vtp-check-menu">
        <a class="nav-link" id="thong-ke-san-luong" routerLink="/thong-ke-san-luong" >
          <span>Thú cưng</span>
        </a>
      </li>
    </ul>
  </li>
</ul>

