<div class="modal fade" id="confirmDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex w-100 justify-content-center align-items-center">
                Bạn có chắc chăn muốn xóa {{name}} ?
            </div>
            <div class="modal-footer d-flex w-100 justify-content-center align-items-center">
                <button class="btn btn-outline-danger" (click)="confirmDelete()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>