
<div class="row">
  <div class="col-4"><button (click)="generateRSAKeyPair()">Tạo khóa RSA</button>
    <div class="d-flex mt-3" *ngIf="privateKey && publicKey">
      <div class="m-3">
        <div>PrivateKey</div>
        <textarea cols="30" rows="10" [(ngModel)]="privateKey"></textarea>
      </div>
      <div class="m-3">
        <div>publicKey</div>
        <textarea cols="30" rows="10" [(ngModel)]="publicKey"></textarea>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="d-flex mt-3">
      <div class="m-3">
        <div>encrypted </div> <button (click)="encode(this.hashedValue)">encode</button>
        <textarea cols="30" rows="10" [(ngModel)]="encrypted "></textarea>
      </div>
      <div class="m-3">
        <div>decrypted </div> <button (click)=" decode(this.encrypted)">decode</button>
        <textarea cols="30" rows="10" [(ngModel)]="decrypted "></textarea>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="d-flex mt-3">
      <img style="width: 200px;" [src]="imageUrl" *ngIf="imageUrl">
    </div>
    <button (click)="hashFile(fileToHash,true)" [disabled]="!fileToHash">Hash File</button>
  </div>
</div>
<input type="file" (change)="onFileChange($event)">
<div *ngIf="hashedValue">
  <h4>Hashed Value (SHA-256):</h4>
  <pre>{{ hashedValue }}</pre>
</div>
<input type="file" (change)="onFileChange1($event)">

<div *ngIf="hashedValueCf">
  <h4>Hashed Value (SHA-256) verify:</h4>
  <pre>{{ hashedValueCf }}</pre>
</div>
<div class="col-4">
  <div class="d-flex mt-3">
    <img style="width: 200px;" [src]="imageUrl1" *ngIf="imageUrl">
  </div>
  <button (click)="hashFile(fileToHash1,false)" [disabled]="!fileToHash1">Hash File</button>
</div>