.RSA {
  background-color: rgb(139, 160, 160);
  padding: 2rem;
  text-align: center;
}

.sender {
  background-color: aqua;
  padding: 3rem;

}

.reciever {
  background-color: yellowgreen;
  padding: 3rem;
}