<div>
    <button class="btn btn-outline-danger" (click)="initAddCate()">Thêm category</button>
</div>
<menu-category [menuItems]="listCategories"></menu-category>
<mat-paginator *ngIf="listCategories.length > 0" #paginator aria-label="Select page" [length]="pageLength"
    [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="numberShowPages" [showFirstLastButtons]="true"
    (page)="onPaging($event)">
</mat-paginator>
<app-modal-add-update-category *ngIf="ckEdit" (ckEdit)="ckEvent($event)"></app-modal-add-update-category>